@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* 폰트 변수 정의 */
  --font-nanum: "NanumSquareRound", Arial, Helvetica, sans-serif;
  /* 포인트컬러 등록 */
  --color-point: #7dadbe;
  /* 다크모드 컬러 등록 */
  --color-dark: #1a202c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Tailwind 클래스용 폰트 추가 */
  --font-nanum: var(--font-nanum);
  /* 포인트 컬러 */
  --color-point: var(--color-point);
  /* 다크모드 컬러 */
  --color-dark: var(--color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #ededed;
    --color-dark: var(--color-dark);
  }
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

/* body에서 font-family를 제거하거나 기본 폰트(sans)로 설정하세요 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NanumSquareRound", Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* 테마 클래스 */
body.dark {
  background: var(--color-dark);
  color: var(--foreground);
}

body.light {
  background: var(--background);
  color: var(--foreground);
}
